<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Album example</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
      <p>
        <a href="#" class="btn btn-primary">Main call to action</a>
        <a href="#" class="btn btn-secondary">Secondary action</a>
      </p>
    </div>
  </section>
  <div class="container-fluid album">
    
    <div class="row no-gutters">
      <div class="col-6 col-md-3">
        <a data-fancybox="gallery" data-fancybox="group" href="https://d3ciwvs59ifrt8.cloudfront.net/d1b6e9db-f188-44f5-abe5-ec8b24b7c01b/65e21af2-d136-44bb-b1c1-85f29d3d63bd.jpg">
          <img src="https://d3ciwvs59ifrt8.cloudfront.net/d1b6e9db-f188-44f5-abe5-ec8b24b7c01b/65e21af2-d136-44bb-b1c1-85f29d3d63bd.jpg">
        </a>
      </div>
      <div class="col-6 col-md-3">
        <a data-fancybox="gallery" data-fancybox="group" href="https://d3ciwvs59ifrt8.cloudfront.net/d1b6e9db-f188-44f5-abe5-ec8b24b7c01b/2a76bcb7-7229-4875-83c1-619524d4dac2.jpg">
          <img src="https://d3ciwvs59ifrt8.cloudfront.net/d1b6e9db-f188-44f5-abe5-ec8b24b7c01b/2a76bcb7-7229-4875-83c1-619524d4dac2.jpg">
        </a>
      </div>
      <div class="col-6 col-md-3">
        <a data-fancybox="gallery" data-fancybox="group" href="https://d3ciwvs59ifrt8.cloudfront.net/e6ffc776-4eb6-49f7-83b1-bf5721727b45/3fc5a026-1f10-4f84-8d18-bfca7f8fd8d9.jpg">
          <img src="https://d3ciwvs59ifrt8.cloudfront.net/e6ffc776-4eb6-49f7-83b1-bf5721727b45/3fc5a026-1f10-4f84-8d18-bfca7f8fd8d9.jpg">
        </a>
      </div>
      <div class="col-6 col-md-3">
        <a data-fancybox="gallery" data-fancybox="group" href="https://d3ciwvs59ifrt8.cloudfront.net/d1b6e9db-f188-44f5-abe5-ec8b24b7c01b/14c20ba7-66bb-4de0-a438-ac1a75eb7d99.jpg">
          <img src="https://d3ciwvs59ifrt8.cloudfront.net/d1b6e9db-f188-44f5-abe5-ec8b24b7c01b/14c20ba7-66bb-4de0-a438-ac1a75eb7d99.jpg">
        </a>
      </div>

      <div class="row no-gutters">
        <div class="col-6 col-md-3">
          <a data-fancybox="gallery" data-fancybox="group" href="https://d3ciwvs59ifrt8.cloudfront.net/d1b6e9db-f188-44f5-abe5-ec8b24b7c01b/9dd65164-f02f-409a-acbc-614289584e00.jpg">
            <img src="https://d3ciwvs59ifrt8.cloudfront.net/d1b6e9db-f188-44f5-abe5-ec8b24b7c01b/9dd65164-f02f-409a-acbc-614289584e00.jpg">
          </a>
        </div>
        <div class="col-6 col-md-3">
          <a data-fancybox="gallery" data-fancybox="group" href="https://d3ciwvs59ifrt8.cloudfront.net/e6ffc776-4eb6-49f7-83b1-bf5721727b45/582d53b3-3590-4381-98ef-a23738e9b3c4.jpg">
            <img src="https://d3ciwvs59ifrt8.cloudfront.net/e6ffc776-4eb6-49f7-83b1-bf5721727b45/582d53b3-3590-4381-98ef-a23738e9b3c4.jpg">
          </a>
        </div>
        <div class="col-6 col-md-3">
          <a data-fancybox="gallery" data-fancybox="group" href="https://d3ciwvs59ifrt8.cloudfront.net/e6ffc776-4eb6-49f7-83b1-bf5721727b45/59343af1-e3f7-4fd9-a7c1-a3c37c1773d0.jpg">
            <img src="https://d3ciwvs59ifrt8.cloudfront.net/e6ffc776-4eb6-49f7-83b1-bf5721727b45/59343af1-e3f7-4fd9-a7c1-a3c37c1773d0.jpg">
          </a>
        </div>
        <div class="col-6 col-md-3">
          <a data-fancybox="gallery" data-fancybox="group" href="https://d3ciwvs59ifrt8.cloudfront.net/d1b6e9db-f188-44f5-abe5-ec8b24b7c01b/860858bf-5919-46a9-ab11-bc26551014b4.jpg">
            <img src="https://d3ciwvs59ifrt8.cloudfront.net/d1b6e9db-f188-44f5-abe5-ec8b24b7c01b/860858bf-5919-46a9-ab11-bc26551014b4.jpg">
          </a>
        </div>
      </div>
    </div>
  


