<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Album example</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
      <p>
        <a href="#" class="btn btn-primary">Main call to action</a>
        <a href="#" class="btn btn-secondary">Secondary action</a>
      </p>
    </div>
  </section>

  <div class="album text-muted">
    <div class="container">
      <div class="row no-gutters">
        <div class="col image-container"><img src="https://d3ciwvs59ifrt8.cloudfront.net/e6ffc776-4eb6-49f7-83b1-bf5721727b45/2126488d-fb73-4956-b56b-f1c158cad399.jpg"><div class="overlay"></div></div>
        <div class="col image-container"><img src="https://d3ciwvs59ifrt8.cloudfront.net/e6ffc776-4eb6-49f7-83b1-bf5721727b45/2126488d-fb73-4956-b56b-f1c158cad399.jpg"><div class="overlay"></div></div>
        <div class="col image-container"><img src="https://d3ciwvs59ifrt8.cloudfront.net/e6ffc776-4eb6-49f7-83b1-bf5721727b45/2126488d-fb73-4956-b56b-f1c158cad399.jpg"><div class="overlay"></div></div>
        <div class="col image-container"><img src="https://d3ciwvs59ifrt8.cloudfront.net/e6ffc776-4eb6-49f7-83b1-bf5721727b45/2126488d-fb73-4956-b56b-f1c158cad399.jpg"><div class="overlay"></div></div>        
      </div>
      <div class="row no-gutters">
        <div class="col image-container"><img src="https://d3ciwvs59ifrt8.cloudfront.net/e6ffc776-4eb6-49f7-83b1-bf5721727b45/2126488d-fb73-4956-b56b-f1c158cad399.jpg"><div class="overlay"></div></div>
        <div class="col image-container"><img src="https://d3ciwvs59ifrt8.cloudfront.net/e6ffc776-4eb6-49f7-83b1-bf5721727b45/2126488d-fb73-4956-b56b-f1c158cad399.jpg"><div class="overlay"></div></div>
        <div class="col image-container"><img src="https://d3ciwvs59ifrt8.cloudfront.net/e6ffc776-4eb6-49f7-83b1-bf5721727b45/2126488d-fb73-4956-b56b-f1c158cad399.jpg"><div class="overlay"></div></div>
        <div class="col image-container"><img src="https://d3ciwvs59ifrt8.cloudfront.net/e6ffc776-4eb6-49f7-83b1-bf5721727b45/2126488d-fb73-4956-b56b-f1c158cad399.jpg"><div class="overlay"></div></div>        
      </div>
      <div class="row no-gutters">
        <div class="col image-container"><img src="https://d3ciwvs59ifrt8.cloudfront.net/e6ffc776-4eb6-49f7-83b1-bf5721727b45/2126488d-fb73-4956-b56b-f1c158cad399.jpg"><div class="overlay"></div></div>
        <div class="col image-container"><img src="https://d3ciwvs59ifrt8.cloudfront.net/e6ffc776-4eb6-49f7-83b1-bf5721727b45/2126488d-fb73-4956-b56b-f1c158cad399.jpg"><div class="overlay"></div></div>
        <div class="col image-container"><img src="https://d3ciwvs59ifrt8.cloudfront.net/e6ffc776-4eb6-49f7-83b1-bf5721727b45/2126488d-fb73-4956-b56b-f1c158cad399.jpg"><div class="overlay"></div></div>
        <div class="col image-container"><img src="https://d3ciwvs59ifrt8.cloudfront.net/e6ffc776-4eb6-49f7-83b1-bf5721727b45/2126488d-fb73-4956-b56b-f1c158cad399.jpg"><div class="overlay"></div></div>        
      </div>

      <!-- <div class="row">
        <div class="card">
          <img src="https://d3ciwvs59ifrt8.cloudfront.net/e6ffc776-4eb6-49f7-83b1-bf5721727b45/2126488d-fb73-4956-b56b-f1c158cad399.jpg" alt="Card image cap">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card">
          <img src="https://d3ciwvs59ifrt8.cloudfront.net/e6ffc776-4eb6-49f7-83b1-bf5721727b45/2126488d-fb73-4956-b56b-f1c158cad399.jpg" alt="Card image cap">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card">
          <img src="https://d3ciwvs59ifrt8.cloudfront.net/e6ffc776-4eb6-49f7-83b1-bf5721727b45/2126488d-fb73-4956-b56b-f1c158cad399.jpg" alt="Card image cap">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>

        <div class="card">
          <img src="https://d3ciwvs59ifrt8.cloudfront.net/e6ffc776-4eb6-49f7-83b1-bf5721727b45/2126488d-fb73-4956-b56b-f1c158cad399.jpg" alt="Card image cap">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card">
          <img src="https://d3ciwvs59ifrt8.cloudfront.net/e6ffc776-4eb6-49f7-83b1-bf5721727b45/2126488d-fb73-4956-b56b-f1c158cad399.jpg" alt="Card image cap">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card">
          <img src="https://d3ciwvs59ifrt8.cloudfront.net/e6ffc776-4eb6-49f7-83b1-bf5721727b45/2126488d-fb73-4956-b56b-f1c158cad399.jpg" alt="Card image cap">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>

        <div class="card">
          <img src="https://d3ciwvs59ifrt8.cloudfront.net/e6ffc776-4eb6-49f7-83b1-bf5721727b45/2126488d-fb73-4956-b56b-f1c158cad399.jpg" alt="Card image cap">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card">
          <img src="https://d3ciwvs59ifrt8.cloudfront.net/e6ffc776-4eb6-49f7-83b1-bf5721727b45/2126488d-fb73-4956-b56b-f1c158cad399.jpg" alt="Card image cap">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card">
          <img src="https://d3ciwvs59ifrt8.cloudfront.net/e6ffc776-4eb6-49f7-83b1-bf5721727b45/2126488d-fb73-4956-b56b-f1c158cad399.jpg" alt="Card image cap">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div> -->

    </div>
  </div>
