<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Album example</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
      <p>
        <a href="#" class="btn btn-primary">Main call to action</a>
        <a href="#" class="btn btn-secondary">Secondary action</a>
      </p>
    </div>
  </section>
  <div class="container-fluid album">
    <div class="row no-gutters">
      <div class="col-6 col-md-3">
        <div class="overlay"></div>
        <img src="https://d3ciwvs59ifrt8.cloudfront.net/d1b6e9db-f188-44f5-abe5-ec8b24b7c01b/65e21af2-d136-44bb-b1c1-85f29d3d63bd.jpg" class="img-fluid" alt="Responsive image">
      </div>
      <div class="col-6 col-md-3">
          <a id="example2" href="http://c1.staticflickr.com/1/317/18942236206_d5e90fc7bd_b.jpg" fancyboxable="example2">
            <img alt="example2" src="http://c1.staticflickr.com/1/317/18942236206_d5e90fc7bd_m.jpg">
        </a>        
      </div>
      <div class="col-6 col-md-3">
          <div class="overlay"></div>
          <img src="https://d3ciwvs59ifrt8.cloudfront.net/d1b6e9db-f188-44f5-abe5-ec8b24b7c01b/2a76bcb7-7229-4875-83c1-619524d4dac2.jpg" class="img-fluid" alt="Responsive image">
      </div>
      <div class="col-6 col-md-3">
          <div class="overlay"></div>
          <img src="https://d3ciwvs59ifrt8.cloudfront.net/e6ffc776-4eb6-49f7-83b1-bf5721727b45/3fc5a026-1f10-4f84-8d18-bfca7f8fd8d9.jpg" class="img-fluid" alt="Responsive image">
      </div>
    <div class="row no-gutters">
      <div class="col-6 col-md-3">
          <div class="overlay"></div>
        <img src="https://d3ciwvs59ifrt8.cloudfront.net/d1b6e9db-f188-44f5-abe5-ec8b24b7c01b/65e21af2-d136-44bb-b1c1-85f29d3d63bd.jpg" class="img-fluid" alt="Responsive image">
      </div>
      <div class="col-6 col-md-3">
          <div class="overlay"></div>
          <img src="https://d3ciwvs59ifrt8.cloudfront.net/e6ffc776-4eb6-49f7-83b1-bf5721727b45/293681a4-7256-409d-9af9-598bd4ee3944.jpg" class="img-fluid" alt="Responsive image">
      </div>
      <div class="col-6 col-md-3">
          <div class="overlay"></div>
          <img src="https://d3ciwvs59ifrt8.cloudfront.net/d1b6e9db-f188-44f5-abe5-ec8b24b7c01b/2a76bcb7-7229-4875-83c1-619524d4dac2.jpg" class="img-fluid" alt="Responsive image">
      </div>
      <div class="col-6 col-md-3">
          <div class="overlay"></div>
          <img src="https://d3ciwvs59ifrt8.cloudfront.net/e6ffc776-4eb6-49f7-83b1-bf5721727b45/3fc5a026-1f10-4f84-8d18-bfca7f8fd8d9.jpg" class="img-fluid" alt="Responsive image">
      </div>
    </div>
  </div>
  


