.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .mat-card {
      margin-bottom: 30px;
  }

  .example-container > * {
    width: 100%;
  }

  .contact {
      margin-bottom: 25px;
  }

  ul {
      padding-left: 0px;
  }

  .textArea {
      width: 100%;
  }
  
  li {
      list-style: none;
  }

  .form-item {
      width: 100%;
  }

  .contact-info {
      margin-top: 100px;
  }

  button {
      width: 100%;
  }

  @media(max-width: 992px) {
      .contact-info {
          text-align: center;
          margin-top: 50px;
      }
  }