<div class="container-fluid footer">
  <footer>
      <div class="row social-links">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <a href="https://www.facebook.com/MonkeyBarGymNW/"><button class="new-btn new-btn-5 new-btn-5a icon-facebook"><span>facebook</span></button></a>
          <a href="http://www.yelp.com/biz/monkey-bar-gym-redmond"><button class="new-btn new-btn-5 new-btn-5a icon-yelp"><span>Yelp</span></button></a>
          <a href="https://www.pinterest.com/monkeybargymbel/"><button class="new-btn new-btn-5 new-btn-5a icon-pinterest"><span>Pinterest</span></button></a>
          <a href="https://www.linkedin.com/in/monkeybargym-bellevue-152421138/"><button class="new-btn new-btn-5 new-btn-5a icon-lin"><span>LinkedIn</span></button></a>
          <a href="https://plus.google.com/u/0/100868721239647044492"><button class="new-btn new-btn-5 new-btn-5a icon-google"><span>Google+</span></button></a>
          <a href="https://www.youtube.com/channel/UCB-54icVfsyQA82tOC_CPgA"><button class="new-btn new-btn-5 new-btn-5a icon-youtube"><span>Youtube</span></button></a>
          <a href="https://twitter.com/GregJon54966261"><button class="new-btn new-btn-5 new-btn-5a icon-twitter"><span>Twitter</span></button></a>
          <a href="https://www.instagram.com/monkeybargymbellevue/"><button class="new-btn new-btn-5 new-btn-5a icon-instagram"><span>Instagram</span></button></a>
        </div>
        <div class="col-md-2"></div>
      </div>
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; Monkey Bar Gym, Inc © 2017 </p>
  </footer>
</div>