<div class="jumbotron">
    <h1 class="display-3">Contact</h1>
    <p class="lead">If you are wanting to get signed up you can do so through the Schedule tab or if you had any other questions about signing up you can give us a call at 206-931-6500 and someone from our team will be happy to help answer those questions.</p>
</div>
<div class="container">
  <div class="row contact">
    <div class="col-md-8">
        <form action="https://formspree.io/info@mbgnw.com" method ="POST">
            <mat-card>
              <h4>Contact Us</h4>
              <div class="row">
                <div class="col-6">
                  <mat-form-field class="form-item"><input name="name" matInput placeholder="First Name"></mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field class="form-item"><input name="lastName" matInput placeholder="Last Name"></mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                    <mat-form-field class="form-item"><input type="email" name="_replyto" required matInput placeholder="Email"></mat-form-field>                
                </div>
              </div>
              <div class="row">
                  <div class="col-8">
                      <mat-form-field class="form-item"><input name="address" matInput placeholder="Address"></mat-form-field>
                  </div>
                  <div class="col-4">
                      <mat-form-field class="form-item"><input maxlength="5" name="postalCode" matInput placeholder="Postal Code"></mat-form-field>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="textArea">
                      <textarea rows="3" cols="100" name="comments" matInput placeholder="Comments"></textarea>
                    </mat-form-field>  
                </div>
              </div>
              <button mat-raised-button color="primary">Submit</button>
            </mat-card>
          </form>
    </div>
        <div class="col-lg-4 contact-info">
          <h2>Monkey Bar Gym</h2>
          <ul>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i>
              2505 152nd ave NE,
                Redmond, WA 98052</li>
            <li><a href="tel:206-931-6500"><i class="fa fa-phone" aria-hidden="true"></i>
              (206)-931-6500</a>
              </li>
            <li><a href="mailto:Info@mbgnw.com"><i class="fa fa-envelope" aria-hidden="true"></i>
              Info@mbgnw.com</a>
            </li>
          </ul>
        </div>
  </div>
</div>
