body {
min-height: 75rem; /* Can be removed; just added for demo purposes */
}

.navbar {
margin-bottom: 0;
}

.album {
min-height: 50rem; /* Can be removed; just added for demo purposes */
background-color: #f7f7f7;
margin-bottom: 25px;
}

.row img {
height: 250px; 
width: 100%;
}

img:hover {
  opacity: .75;
}

.container-fluid {
  padding: 0px;
}

footer {
padding-top: 3rem;
padding-bottom: 3rem;
}

footer p {
margin-bottom: .25rem;
}