<div class="jumbotron">
    <h1 class="display-3">60 Day Challenge</h1>
    <p class="lead">Are you ready to drop at least 10 pounds, maybe lots more, while
            simultaneously increasing your level of fitness?</p>
</div>

<section class="callout">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                    <span class="extra">Does a “Biggest Loser” challenge with a “Boot Camp” feel appeal to you?<br></span>
                    You need to check out Monkey Bar Gym’s
                    60-Day Challenge, starting <strong>January 17th from 4-7pm</strong> 
                </p> 
            </div>
        </div>
    </div>
</section>

<section class="cards">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-3">
                <mat-card class="text-center">
                    <mat-card-title><i class="fa fa-area-chart fa-3x" aria-hidden="true"></i></mat-card-title>
                    <mat-card-subtitle><i class="fa fa-check" aria-hidden="true"></i> Bodyfat Analysis </mat-card-subtitle>
                    <mat-card-content>Body fat analyses at weeks one and every month and at the conclusion of
                            the 60 days</mat-card-content>
                </mat-card>
            </div>
            <div class="col-6 col-md-3">
                <mat-card class="text-center">
                    <mat-card-title><i class="fa fa-camera fa-3x" aria-hidden="true"></i></mat-card-title>
                    <mat-card-subtitle><i class="fa fa-check" aria-hidden="true"></i> Before & After Photos</mat-card-subtitle>
                    <mat-card-content>Keep track of your 60 day progress with pictures before and after all of your hard work</mat-card-content>
                </mat-card>
            </div>
            <div class="col-6 col-md-3">
                <mat-card class="text-center">
                    <mat-card-title><i class="fa fa-users fa-3x" aria-hidden="true"></i></mat-card-title>
                    <mat-card-subtitle><i class="fa fa-check" aria-hidden="true"></i> Group Training</mat-card-subtitle>
                    <mat-card-content>Appropriate fitness level Following a
                            Bootcamp schedule of High Intensity Interval training</mat-card-content>
                </mat-card>
            </div>
            <div class="col-6 col-md-3">
                <mat-card class="text-center">
                    <mat-card-title><i class="fa fa-heartbeat fa-3x" aria-hidden="true"></i></mat-card-title>
                    <mat-card-subtitle><i class="fa fa-check" aria-hidden="true"></i> Nutrition Consultation</mat-card-subtitle>
                    <mat-card-content>Tailored diet plan
                            overseen by Dr. Erika Mckeen(Naturopathic Medical Doctor) and Greg Jones
                            CNT Elite Trainer</mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</section>

<section class="program">
<div class="container">
    <h2 class="text-center">The Program:</h2>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h3>Summary</h3>
            <p>
                The 60-day New Year/New You slimdown revolves around two
                central components: (1) smart food choices; and (2) daily, individualized
                physical exercise. Our goals for you will take into consideration your weight,
                age, health, and health-related constraints. By eating right and exercising hard,
                you should experience an increase in your metabolism’s rate enabling you to
                burn more fat calories.
            </p>
        </div>
        <div class="col-md-6">
            <h3>Pre-Program Intake</h3>
            <p>     
                Every prospective 60-Day Challenge participant will meet
                with our staff prior to the January 17th start date. All measurements and
                evaluation results will be kept confidential and used to assess results. Individual
                diet plans will be detailed before the first class, so schedule a pre-class consult
                soon! In addition body-fat measurements will be done at this time and
                repeated at weeks 4, and 8 ).
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Your Part</h3>
            <p>
                We will do our part to educate you and give you our 100% support.
                You must, of course, do your part by making all necessary lifestyle changes. We
                make a total commitment to you, and you must make a total commitment to
                yourself! If you do, it will work. You will see results as soon as Day 1. You will
                feel better just by being there.
            </p>
        </div>
        <div class="col-md-6">
            <h3>Commit!</h3>
            <p>     
                60 days! You must agree to attend up to M-F, with a
                break on Wednesday from 6:30- 7:30pm & a weekend workout at Monkey Bar
                Gym Bellevue. Your trainer/coach will push you hard, remind you of the need to
                eat right every day, and help you to incorporate these healthy habits into your
                new, restructured lifestyle. You may come more often but not less! You may
                come more than 60 days but not fewer!
            </p>
        </div>
    </div>
</div>
</section>

<div class="container join">
    <h4 align="center">Ready to Join! Please Contact Greg Jones</h4>
    <div class="row justify-content-center">
        <div class="col-md-2 col-6">
            <a href="tel:206-851-8594">
                <button mat-raised-button color="primary">
                    <i class="fa fa-phone" aria-hidden="true"></i> (206)-851-8594
                </button>
            </a>
        </div>
        <div class="col-md-2 col-6">
            <a href="mailto:greg@mbgnw.com">
                <button mat-raised-button color="primary">
                    <i class="fa fa-envelope" aria-hidden="true"></i> greg@mbgnw.com
                </button>
            </a>
        </div>
    </div>
</div>

