<div class="jumbotron">
  <h1 class="display-3">Schedule</h1>
  <p class="lead">Take a look and find a workout that works for you!</p>
</div>

<div class="container">
  <mat-card>
    <healcode-widget data-type="schedules" data-widget-partner="object" data-widget-id="211796549c6" data-widget-version="1"></healcode-widget>
    <div class="text-center">
      <button *ngIf="showButton" mat-raised-button color="primary" (click)="reload()">Generate Schedule</button>
    </div>
  </mat-card>
  <hr>
</div>
